@model ViewModels.ProductDetailViewModel

@{
    ViewBag.Title = @Model.Product.Title;
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="breadcrumb_section bg_gray page-title-mini" style="background-image: url('../../images/banner2.jpg');">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>لیست محصولات</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
         

                    <li class="breadcrumb-item active">@Model.Product.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>



<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <div class="product-image">
                        <div class="product_img_box">
                            <img id="product_img" src='@Model.Product.ImageUrl' data-zoom-image="@Model.Product.ImageUrl" alt="@Model.Product.Title" />
                            <a href="#" class="product_img_zoom" title="Zoom">
                                <span class="linearicons-zoom-in"></span>
                            </a>
                        </div>
                        <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-slides-to-show="4" data-slides-to-scroll="1" data-infinite="false">
                            @foreach (var image in Model.ProductImages)
                            {
                                <div class="item">
                                    <a href="#" class="product_gallery_item active" data-image="@image.ImageUrl" data-zoom-image="@image.ImageUrl">
                                        <img src="@image.ThumbImageUrl" alt="@image.Alt" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pr_detail">
                        <div class="product_description">
                            <h4 class="product_title"><a href="#">@Model.Product.Title</a></h4>
                            <div class="">
                                @if (Model.Product.IsInPromotion)
                                {
                                    <span class="price">@Model.Product.DiscountAmountStr</span>
                                    <del>@Model.Product.AmountStr</del>
                                    <div class="on_sale">
                                        <span>@Model.Product.DiscountPercent % تخفیف</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="price">@Model.Product.AmountStr</div>
                                }
                            </div>

                            <div class="pr_desc">
                                <p>@Html.Raw(Model.Product.Summery)</p>
                            </div>
                            <div class="product_sort_info">
                                <ul>
                                    <li><i class="linearicons-weight"></i> @Model.Product.Weight</li>
                                    @if (Model.Product.IsAvailable)
                                    {
                                        <li><i class="linearicons-shield-check"></i>موجود</li>
                                    }
                                    else
                                    {
                                        <li><i class="fa fa-close"></i>ناموجود</li>
                                    }
                                </ul>
                            </div>


                        </div>
                        <hr />
                        <div class="cart_extra">
                            <div class="cart-product-quantity">
                                <div class="quantity">
                                    <input type="button" value="-" class="minus">
                                    <input type="text" name="quantity" value="1" title="تعداد" class="qty" size="4" id="basketQty">
                                    <input type="button" value="+" class="plus">
                                </div>
                            </div>
                            <div class="cart_btn">
                                <button class="btn btn-fill-out btn-addtocart" type="button" onclick="addToBasketFromDetail('@Model.Product.Code');"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</button>
                            </div>
                        </div>
                        <hr />

                        <div class="product_share">
                            <span>اشتراک گذاری:</span>
                            <ul class="social_icons">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="large_divider clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-style3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">توضیحات تکمیلی</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">نظرات (@Model.ProductComments.Count())</a>
                            </li>
                        </ul>
                        <div class="tab-content shop_info_tab">
                            <div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                                <p>@Html.Raw(Model.Product.Body)</p>
                            </div>

                            <div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">
                                @if (Model.ProductComments.Count() > 0)
                                {
                                    <div class="comments">
                                        <h5 class="product_tab_title">@Model.ProductComments.Count() نظر برای  <span>@Model.Product.Title</span></h5>
                                        <ul class="list_none comment_list mt-4">
                                            @foreach (var comment in Model.ProductComments)
                                            {
                                                <li>
                                                    <div class="comment_img">
                                                        <img src="~/images/avatar.png" alt="user1" />
                                                    </div>
                                                    <div class="comment_block">
                                                     
                                                        <p class="customer_meta">
                                                            <span class="review_author">@comment.Name</span>
                                                            <span class="comment-date">@comment.CreationDate.ToShortDateString()</span>
                                                        </p>
                                                        <div class="description">
                                                            <p>@Html.Raw(comment.Message)</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            }


                                        </ul>
                                    </div>
                                }
                                <div class="review_form field_form">
                                    <h5>افزودن نظر</h5>
                                    <div>
                                        <p class="alert alert-success" id="comment-succes">نظر شما با موفقیت ثبت شد</p>
                                        <p class="alert alert-danger" id="comment-reject"></p>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="form-group col-md-6">
                                            <input required="required" placeholder="نام و نام خانوادگی *" class="form-control" name="name" type="text" id="commentName">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input required="required" placeholder="ایمیل *" class="form-control" name="email" type="email" id="commentEmail">
                                        </div>
                                        <div class="form-group col-12">
                                            <textarea required="required" placeholder="نظر شما *" class="form-control" name="message" rows="4" id="commentBody"></textarea>
                                        </div>
                                      

                                        <div class="form-group col-12">
                                            <button type="submit" class="btn btn-fill-out" name="submit" value="Submit" onclick="SubmitComment();">ثبت نظر</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="small_divider"></div>
                    <div class="divider"></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
       
        </div>
    </div>
</div>
<script>
    function SubmitComment() {

        var nameVal = $("#commentName").val();
        var emailVal = $("#commentEmail").val();
        var bodyVal = $("#commentBody").val();

        if (nameVal !== "" && emailVal !== "" && bodyVal !== "") {
                $.ajax(
                {
                url: "/Products/PostSubmitComment",
                data: { name: nameVal, email: emailVal, body: bodyVal, code: '@Model.Product.Code' },
                type: "POST"

                }).done(function (result) {
                    if (result === "true") {
                        $("#comment-reject").css('display', 'none');
                        $("#comment-succes").css('display', 'block');
                        localStorage.setItem("id", "");
                        $("#commentName").val('');
                        $("#commentEmail").val('');
                        $("#commentBody").val('');
                    }
                    else if (result === "InvalidEmail") {
                        $("#comment-reject").html('ایمیل وارد شده صحیح نمی باشد.');
                        $("#comment-reject").css('display', 'block');
                        $("#comment-succes").css('display', 'none');
                    }
                    else if (result === "false") {
                        $("#comment-reject").html('خطایی رخ داده است. لطفا مجددا وارد صفحه شوید و تلاش کنید.');
                        $("#comment-reject").css('display', 'block');
                        $("#comment-succes").css('display', 'none');
                    }
                    });
        }
        else {
            $("#comment-reject").html('تمامی فیلد های زیر را تکمیل نمایید.');
            $("#comment-reject").css('display', 'block');
            $("#comment-succes").css('display', 'none');

        }

    }

    function addToBasketFromDetail(code)
    {
        var qty = $("#basketQty").val();
        addToBasket(code, qty);
    }
</script>