@model ViewModels.ProductListViewModel
@{
    ViewBag.Title = "لیست محصولات";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="breadcrumb_section bg_gray page-title-mini" style="background-image: url('../../images/banner2.jpg');">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>لیست محصولات</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                    <li class="breadcrumb-item"><a href="#">@Model.MainProductGroup.Title</a></li>
                    <li class="breadcrumb-item active">@Model.ProductGroup.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>

<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row align-items-center mb-4 pb-1">
                        <div class="col-12">
                            <div class="product_header">
                                <div class="product_header_left">
                                    <div class="custom_select">
                                        <select class="form-control form-control-sm">
                                            <option value="order">مرتب سازی</option>
                                            <option value="popularity">محبوب ترین</option>
                                            <option value="date">جدیدترین</option>
                                            <option value="price">قیمت صعودی</option>
                                            <option value="price-desc">قیمت نزولی</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="product_header_right">
                                    <div class="products_view">
                                        <a href="javascript:Void(0);" class="shorting_icon grid"><i class="ti-view-grid"></i></a>
                                        <a href="javascript:Void(0);" class="shorting_icon list active"><i class="ti-layout-list-thumb"></i></a>
                                    </div>
                                    <div class="custom_select">
                                        <select class="form-control form-control-sm">
                                            <option value="">نمایش</option>
                                            <option value="9">9</option>
                                            <option value="12">12</option>
                                            <option value="18">18</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row shop_container list">
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-lg-3 col-md-4 col-6">
                                <div class="product">
                                    <div class="product_img">
                                        <a href="/product/@product.Code">
                                            <img src="@product.ImageUrl" alt="product_img1">
                                        </a>
                                        <div class="product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="#" onclick="addToBasket('@product.Code', '1');"><i class="icon-basket-loaded"></i>افزودن به سبد خرید</a></li>
                                                <li><a href="shop-compare.html" class="popup-ajax"><i class="icon-shuffle"></i></a></li>
                                                <li><a href="shop-quick-view.html" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                                <li><a href="#"><i class="icon-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_info">
                                        <h6 class="product_title"><a href="/product/@product.Code">@product.Title</a></h6>
                                        <div class="product_price">
                                            @if (product.IsInPromotion)
                                            {
                                                <span class="price">@product.DiscountAmountStr تومان</span>
                                                <del>@product.AmountStr تومان</del>
                                                <div class="on_sale">
                                                    <span>@product.DiscountPercent % تخفیف</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <span class="price">@product.AmountStr تومان</span>
                                            }
                                        </div>
                                       
                                        <div class="pr_desc">
                                            <p>@Html.Raw(string.Format(product.Summery.Length > 200 ? product.Summery.Substring(0,200) +"...": product.Summery))
                                            </p>
                                        </div>
                                        @*<div class="pr_switch_wrap">
                                                <div class="product_color_switch">
                                                    <span class="active" data-color="#87554B"></span>
                                                    <span data-color="#333333"></span>
                                                    <span data-color="#DA323F"></span>
                                                </div>
                                            </div>*@
                                        <div class="list_product_action_box">
                                            <ul class="list_none pr_action_btn">
                                                <li class="add-to-cart"><a href="#" onclick="addToBasket('@product.Code', '1');"><i class="icon-basket-loaded"></i> افزودن به سبد خرید</a></li>
                                                <li><a href="shop-compare.html" class="popup-ajax"><i class="icon-shuffle"></i></a></li>
                                                <li><a href="shop-quick-view.html" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                                <li><a href="#"><i class="icon-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

</div>
