@model ViewModels.AboutViewModel
@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="breadcrumb_section bg_gray page-title-mini" style="background-image: url('../../images/banner2.jpg');">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>درباره ما</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                    <li class="breadcrumb-item active">درباره ما</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<div class="main_content">

    <!-- STAT SECTION ABOUT -->
    <div class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about_img scene mb-4 mb-lg-0">
                        <img src="@Model.About.ImageUrl" alt="about_img" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="heading_s1">
                        <h2>@Model.About.Title</h2>
                    </div>
                <p>@Html.Raw(Model.About.Body)</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION ABOUT -->
    <!-- START SECTION WHY CHOOSE -->
    <div class="section bg_light_blue2 pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="heading_s1 text-center">
                        <h2>چرا سم پت</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                @foreach (var text in Model.WhySampet)
                {
                <div class="col-lg-4 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="ti-pencil-alt"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>@text.Title</h5>
                            <p>@Html.Raw(text.Body)</p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <!-- END SECTION WHY CHOOSE -->
   
   
</div>