@model ViewModels.HomeViewModel
@{
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}


   
    <div class="banner_section full_screen staggered-animation-wrap">
        <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow carousel_style2" data-ride="carousel">
            <div class="carousel-inner">
                @foreach (var slide in Model.Sliders)
                {
                    <div class="carousel-item @slide.Description background_bg overlay_bg_50" data-img-src="@slide.ImageUrl">
                        <div class="banner_slide_content banner_content_inner">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-7 col-md-10">
                                        <div class="banner_content text_white text-center">
                                            @*<h5 class="mb-3 bg_strip staggered-animation text-uppercase" data-animation="fadeInDown" data-animation-delay="0.2s">تخفیف استثنایی</h5>*@
                                            <h2 class="staggered-animation" data-animation="fadeInDown" data-animation-delay="0.3s">@slide.Title</h2>
                                            <p class="staggered-animation" data-animation="fadeInUp" data-animation-delay="0.4s">@slide.Title2</p>
                                            <a class="btn btn-white staggered-animation" href="/@slide.LandingPage" data-animation="fadeInUp" data-animation-delay="0.5s">@slide.LinkTitle</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
               
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><i class="ion-chevron-left"></i></a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><i class="ion-chevron-right"></i></a>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    <div class="main_content">

        <!-- START SECTION CATEGORIES -->
        <div class="section pt-0 small_pb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cat_overlap radius_all_5">
                            <div class="row align-items-center">
                                <div class="col-lg-3 col-md-4">
                                    <div class="text-center text-md-left">
                                        <h4>گروه محصولات</h4>
                                        <p class="mb-2">انواع غذای گربه</p>
                                        <a href="#" class="btn btn-line-fill btn-sm">مشاهده</a>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="cat_slider mt-4 mt-md-0 carousel_slider owl-carousel owl-theme nav_style5" data-loop="true" data-dots="false" data-nav="true" data-margin="30" data-responsive='{"0":{"items": "1"}, "380":{"items": "2"}, "991":{"items": "3"}, "1199":{"items": "4"}}'>
                                      @foreach (var group in Model.HomeProductGroups)
                                      {
                                        <div class="item">
                                            <div class="categories_box">
                                                <a href="#">
                                                    <i class="@group.Summery"></i>
                                                    <span>@group.Title</span>
                                                </a>
                                            </div>
                                        </div>
                                      }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SECTION CATEGORIES -->
        <!-- START SECTION SHOP -->
        <div class="section small_pt pb_70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="heading_s4 text-center">
                            <h2>برترین محصولات</h2>
                        </div>
                        <p class="text-center leads">ارائه برترین و با کیفیت ترین محصولات در سم پت</p>
                    </div>
                </div>
                <div class="row shop_container">
                    @foreach (var product in Model.HomeProducts)
                    {
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="product_box text-center">
                            <div class="product_img">
                                <a href="shop-product-detail.html">
                                    <img src="@product.ImageUrl" alt="@product.Title"/>
                                </a>
                                <div class="product_action_box">
                                    <ul class="list_none pr_action_btn">
                                        <li><a href="#" class="popup-ajax"><i class="icon-shuffle"></i></a></li>
                                        <li><a href="#" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                        <li><a href="#"><i class="icon-heart"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product_info">
                                <h6 class="product_title"><a href="/product/@product.Code">@product.Title</a></h6>
                                <div class="product_price">
                                    @if (product.IsInPromotion)
                                    {
                                        <span class="price">@product.DiscountAmountStr</span>
                                        <del>@product.AmountStr</del>
                                    }
                                  
                                </div>
                                
                                <div class="pr_desc">
                                    <p>@Html.Raw(string.Format(product.Summery.Length>100?product.Summery.Substring(0,100) + "..." :product.Summery))</p>
                                </div>
                                <div class="add-to-cart">
                                    <a href="#" class="btn btn-fill-out btn-radius" onclick="addToBasket('@product.Code', '1');"><i class="icon-basket-loaded"></i> افزودن به سبد خرید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <!-- END SECTION SHOP -->
        <!-- START SECTION BANNER -->
        <div class="section background_bg" data-img-src="/images/middle-banner2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-9">
                        <div class="furniture_banner">
                            <h3 class="single_bn_title">تخفیفات ویژه</h3>
                            <h4 class="single_bn_title1 text_default">تا سقف 40 %</h4>
                            <div class="countdown_time countdown_style3 mb-4" data-time="2020/09/02 12:30:15"></div>
                            <a href="#" class="btn btn-fill-out">خرید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SECTION BANNER -->
        <!-- START SECTION SHOP -->
        <div class="section pb_20">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="heading_s4 text-center">
                            <h2>@Model.MiddleBanner.Title</h2>
                        </div>
                        <p class="text-center leads">@Html.Raw(Model.MiddleBanner.Body)</p>
                    </div>
                </div>
           
	            <div class="section pb_20 small_pt">
		            <div class="container">
			            <div class="row">
                            @foreach (var text in Model.SubActivities)
                            {
				            <div class="col-md-4">
					            <div class="sale-banner mb-3 mb-md-4">
						            <a class="hover_effect1" href="#">
							            <img src="@text.ImageUrl" alt="shop_banner_img7">
						            </a>
					            </div>
				            </div> 
                            }
			            </div>
		            </div>
	            </div>

            </div>
        </div>
        <!-- END SECTION SHOP -->
        <!-- START SECTION BLOG -->
        <div class="section small_pt pb_70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="heading_s1 text-center">
                            <h2>جدیدترین وبلاگ ها</h2>
                        </div>
                        <p class="leads text-center">توضیحات در این قسمت قرا می گیرد</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    @foreach (var blog in Model.HomeBlogs)
                    {
                    <div class="col-lg-4 col-md-6">
                        <div class="blog_post blog_style1 box_shadow1">
                            <div class="blog_img">
                                <a href="/blog/@blog.BlogGroup.UrlParam/@blog.UrlParam">
                                    <img src="@blog.ImageUrl"  alt="@blog.Title"/>
                                </a>
                            </div>
                            <div class="blog_content bg-white">
                                <div class="blog_text">
                                    <h5 class="blog_title"><a href="/blog/@blog.BlogGroup.UrlParam/@blog.UrlParam">@blog.Title</a></h5>
                                    <ul class="list_none blog_meta">
                                        <li><a href="#"><i class="ti-calendar"></i>@blog.CreationDate.ToShortDateString()</a></li>
                                        <li><a href="#"><i class="ti-comments"></i> @blog.BlogComments.Count() یادداشت</a></li>
                                    </ul>
                                    <p>@Html.Raw(string.Format(blog.Summery.Length > 100 ? blog.Summery.Substring(0, 100) + "..." : blog.Summery))</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <!-- END SECTION BLOG -->

    </div>
    <!-- END MAIN CONTENT -->
   